.u-section-1 .u-sheet-1 {
  min-height: 879px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 941px;
  background-image: none;
  margin: 46px 89px 60px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 797px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 17px 1px;
}

.u-section-1 .u-text-1 {
  font-size: 5rem;
  line-height: 1;
  margin: 103px 1px 0 30px;
}

.u-section-1 .u-text-2 {
  margin: 4px 31px 0 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 39px 30px 0;
}

.u-section-1 .u-image-1 {
  min-height: 797px;
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-2 {
  width: 163px;
  height: 125px;
  margin: 543px 44px 0 auto;
}

.u-section-1 .u-text-4 {
  margin: 28px 446px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 631px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 796px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 610px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 336px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 947px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 915px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 9px;
    margin-left: -21px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 576px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 136px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 782px;
}

.u-section-2 .u-image-1 {
  width: 206px;
  height: 204px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0 69px;
}

.u-section-2 .u-text-1 {
  width: 843px;
  font-size: 3rem;
  margin: -142px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 141px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 14.6667px));
  min-height: 365px;
  --gap: 22px;
  grid-auto-columns: calc(33.3333% - 14.6667px);
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 16px 17px;
}

.u-section-2 .u-icon-1 {
  height: 120px;
  width: 120px;
  margin: 9px auto 0;
  padding: 0;
}

.u-section-2 .u-text-2 {
  margin: 11px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  text-transform: none;
  text-decoration: none solid rgb(17, 17, 17);
  width: 263px;
  margin: 18px auto 0;
}

.u-section-2 .u-btn-1 {
  margin: 31px auto 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 16px 17px;
}

.u-section-2 .u-icon-2 {
  height: 120px;
  width: 120px;
  margin: 9px auto 0;
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  text-transform: none;
  text-decoration: none solid rgb(17, 17, 17);
  margin: 11px 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: none;
  text-decoration: none solid rgb(17, 17, 17);
  width: 263px;
  margin: 18px auto 0;
}

.u-section-2 .u-btn-2 {
  margin: 31px auto 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 16px 17px;
}

.u-section-2 .u-icon-3 {
  height: 120px;
  width: 120px;
  margin: 9px auto 0;
  padding: 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  text-transform: none;
  text-decoration: none solid rgb(17, 17, 17);
  margin: 11px 0 0;
}

.u-section-2 .u-text-7 {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: none;
  text-decoration: none solid rgb(17, 17, 17);
  width: 263px;
  margin: 18px auto 0;
}

.u-section-2 .u-btn-3 {
  margin: 31px auto 0;
}

.u-section-2 .u-image-2 {
  width: 192px;
  height: 149px;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -51px 156px 17px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-top: 110px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 382px;
    grid-gap: 22px 22px;
    grid-auto-columns: calc(33.333333333333336% - 14.6667px);
  }

  .u-section-2 .u-text-3 {
    margin-left: 1px;
    margin-right: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1528px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11px));
    min-height: 878px;
    grid-auto-columns: calc(50% - 11.000025px);
  }

  .u-section-2 .u-text-3 {
    margin-left: 26px;
    margin-right: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1917px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1639px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 148px;
    margin-bottom: 45px;
  }
} .u-section-3 {
  min-height: 1033px;
}

.u-section-3 .u-video-1 {
  filter: none;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-3 .u-group-1 {
  width: 470px;
  min-height: 239px;
  background-image: none;
  height: auto;
  margin: 85px auto 0 calc(((100% - 1140px) / 2)  + 71px);
}

.u-section-3 .u-container-layout-1 {
  padding: 22px 30px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-3 .u-gallery-1 {
  width: 641px;
  height: 608px;
  grid-gap: 10px;
  margin: 11px auto 60px calc(((100% - 1140px) / 2)  + 71px);
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  --gap: 46px;
}

.u-section-3 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65));
  padding: 20px;
}

.u-section-3 .u-gallery-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65));
  padding: 20px;
}

.u-section-3 .u-gallery-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65));
  padding: 20px;
}

.u-section-3 .u-gallery-item-4 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 783px;
  }

  .u-section-3 .embed-responsive-1 {
    width: 243%;
    left: -71%;
    height: 100%;
    top: 0%;
  }

  .u-section-3 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2) + 71px);
    height: auto;
  }

  .u-section-3 .u-gallery-1 {
    margin-left: calc(((100% - 940px) / 2) + 71px);
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
    grid-gap: 17px 17px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 2452px;
  }

  .u-section-3 .embed-responsive-1 {
    width: 431%;
    left: -166%;
  }

  .u-section-3 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2) + 71px);
  }

  .u-section-3 .u-gallery-1 {
    height: 2460px;
    margin-left: calc(((100% - 720px) / 2) + 71px);
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1919px;
  }

  .u-section-3 .embed-responsive-1 {
    width: 1301%;
    left: -601%;
  }

  .u-section-3 .u-group-1 {
    margin-left: calc(((100% - 540px) / 2) + 70px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-gallery-1 {
    width: 540px;
    height: 2077px;
    margin-left: calc(((100% - 540px) / 2) + 70px);
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 994px;
  }

  .u-section-3 .embed-responsive-1 {
    width: 685%;
    left: -293%;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-gallery-1 {
    width: 340px;
    height: 1319px;
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1201px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1117px;
  margin: 0 auto 0 -34px;
}

.u-section-4 .u-image-1 {
  min-height: 1028px;
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 1028px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-4 .u-text-1 {
  margin: 216px -47px 0 30px;
}

.u-section-4 .u-text-2 {
  margin: 19px 19px 0 30px;
}

.u-section-4 .u-text-3 {
  margin: 30px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 942px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 990px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 990px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 762px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-image-1 {
    min-height: 758px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1157px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-image-1 {
    min-height: 1137px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 830px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    min-height: 716px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 1061px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 23px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 552px;
}

.u-section-5 .u-group-1 {
  width: 524px;
  min-height: 472px;
  height: auto;
  margin: 81px auto 0 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-2 {
  line-height: 2;
  margin: 28px 0 0;
}

.u-section-5 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-image: linear-gradient(to right, #2214fb, #2cccc4);
  border-style: solid;
  margin: 30px 0 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  width: 552px;
  margin: -483px 0 60px auto;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 372px;
  --gap: 0px;
  grid-auto-columns: 33.3333%;
}

.u-section-5 .u-container-layout-2 {
  padding: 16px 20px;
}

.u-section-5 .u-image-1 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 16px 20px;
}

.u-section-5 .u-image-2 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 16px 20px;
}

.u-section-5 .u-image-3 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 16px 20px 17px;
}

.u-section-5 .u-image-4 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-6 {
  padding: 16px 20px 17px;
}

.u-section-5 .u-image-5 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-7 {
  padding: 0 20px;
}

.u-section-5 .u-image-6 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-8 {
  padding: 16px 20px 17px;
}

.u-section-5 .u-image-7 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-9 {
  padding: 16px 20px;
}

.u-section-5 .u-image-8 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-10 {
  padding: 16px 20px;
}

.u-section-5 .u-image-9 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-5 .u-group-1 {
    width: 447px;
    margin-top: 46px;
    height: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .u-section-5 .u-list-1 {
    width: 484px;
    margin-top: -512px;
    margin-bottom: 0;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    grid-gap: 0px 0px;
    grid-auto-columns: 33.333333333333336%;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1230px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-list-1 {
    margin-top: 20px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 930px;
    grid-auto-columns: 50%;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-5 .u-image-1 {
    height: 107px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-5 .u-image-2 {
    height: 107px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-5 .u-image-3 {
    height: 107px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-5 .u-image-4 {
    height: 107px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-5 .u-image-5 {
    height: 107px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-5 .u-image-6 {
    height: 107px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-5 .u-image-7 {
    height: 107px;
  }

  .u-section-5 .u-container-layout-9 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-5 .u-image-8 {
    height: 107px;
  }

  .u-section-5 .u-container-layout-10 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-5 .u-image-9 {
    height: 107px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    grid-auto-columns: 100%;
  }

  .u-section-5 .u-image-1 {
    height: 134px;
  }

  .u-section-5 .u-image-2 {
    height: 134px;
  }

  .u-section-5 .u-image-3 {
    height: 134px;
  }

  .u-section-5 .u-image-4 {
    height: 134px;
  }

  .u-section-5 .u-image-5 {
    height: 134px;
  }

  .u-section-5 .u-image-6 {
    height: 134px;
  }

  .u-section-5 .u-image-7 {
    height: 134px;
  }

  .u-section-5 .u-image-8 {
    height: 134px;
  }

  .u-section-5 .u-image-9 {
    height: 134px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1402px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 106px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 106px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-bottom: 10px;
  }

  .u-section-5 .u-image-3 {
    height: 106px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-bottom: 10px;
  }

  .u-section-5 .u-image-4 {
    height: 106px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-bottom: 10px;
  }

  .u-section-5 .u-image-5 {
    height: 106px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-bottom: 10px;
  }

  .u-section-5 .u-image-6 {
    height: 106px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-bottom: 10px;
  }

  .u-section-5 .u-image-7 {
    height: 106px;
  }

  .u-section-5 .u-container-layout-9 {
    padding-bottom: 10px;
  }

  .u-section-5 .u-image-8 {
    height: 106px;
  }

  .u-section-5 .u-container-layout-10 {
    padding-bottom: 10px;
  }

  .u-section-5 .u-image-9 {
    height: 106px;
  }
}