 .u-section-1 {
  background-image: none;
  min-height: 1518px;
}

.u-section-1 .u-image-1 {
  width: 132px;
  height: 102px;
  margin: 31px auto 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 40px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 16px calc(((100% - 1140px) / 2) + 127px) 0 calc(((100% - 1140px) / 2) + 158px);
}

.u-section-1 .u-shape-1 {
  height: 57px;
  background-image: none;
  margin-top: 44px;
  margin-bottom: 0;
}

.u-section-1 .u-gallery-1 {
  height: 863px;
  width: 903px;
  grid-gap: 17px;
  margin: 53px calc(((100% - 1140px) / 2)  + 103px) 60px auto;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  --gap: 22px;
}

.u-section-1 .u-gallery-item-1 {
  --effect-scale: 2;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.65), rgba(255,255,255,0.65));
  padding: 0;
}

.u-section-1 .u-gallery-item-2 {
  --effect-scale: 2;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.65), rgba(255,255,255,0.65));
  padding: 0;
}

.u-section-1 .u-gallery-item-3 {
  --effect-scale: 2;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.65), rgba(255,255,255,0.65));
  padding: 0;
}

.u-section-1 .u-gallery-item-4 {
  --effect-scale: 2;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.65), rgba(255,255,255,0.65));
  padding: 0;
}

.u-section-1 .u-gallery-item-5 {
  --effect-scale: 2;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.65), rgba(255,255,255,0.65));
  padding: 0;
}

.u-section-1 .u-gallery-item-6 {
  --effect-scale: 2;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.65), rgba(255,255,255,0.65));
  padding: 0;
}

.u-section-1 .u-gallery-item-7 {
  --effect-scale: 2;
}

.u-section-1 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.65), rgba(255,255,255,0.65));
  padding: 0;
}

.u-section-1 .u-gallery-item-8 {
  --effect-scale: 2;
}

.u-section-1 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.65), rgba(255,255,255,0.65));
  padding: 0;
}

.u-section-1 .u-gallery-item-9 {
  --effect-scale: 2;
}

.u-section-1 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.65), rgba(255,255,255,0.65));
  padding: 0;
}

.u-section-1 .u-gallery-item-10 {
  --effect-scale: 2;
}

.u-section-1 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.65), rgba(255,255,255,0.65));
  padding: 0;
}

.u-section-1 .u-gallery-item-11 {
  --effect-scale: 2;
}

.u-section-1 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.65), rgba(255,255,255,0.65));
  padding: 0;
}

.u-section-1 .u-gallery-item-12 {
  --effect-scale: 2;
}

.u-section-1 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.65), rgba(255,255,255,0.65));
  padding: 0;
}

.u-section-1 .u-gallery-item-13 {
  --effect-scale: 2;
}

.u-section-1 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.65), rgba(255,255,255,0.65));
  padding: 0;
}

.u-section-1 .u-gallery-item-14 {
  --effect-scale: 2;
}

.u-section-1 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.65), rgba(255,255,255,0.65));
  padding: 0;
}

.u-section-1 .u-gallery-item-15 {
  --effect-scale: 2;
}

.u-section-1 .u-over-slide-15 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.65), rgba(255,255,255,0.65));
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 2144px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -35px;
  }

  .u-section-1 .u-text-2 {
    width: 722px;
    margin-left: calc(((100% - 940px) / 2) + 58px);
    margin-right: calc(((100% - 940px) / 2) + 27px);
  }

  .u-section-1 .u-shape-1 {
    margin-top: 94px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1586px;
    margin-top: 66px;
    margin-right: calc(((100% - 940px) / 2)  + 37px);
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
    grid-gap: 22px 22px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 3474px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-shape-1 {
    margin-top: 73px;
  }

  .u-section-1 .u-gallery-1 {
    width: 720px;
    height: 2916px;
    margin-top: 73px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 8759px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-shape-1 {
    margin-top: 2984px;
  }

  .u-section-1 .u-gallery-1 {
    width: 540px;
    height: 8201px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 5722px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 85px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 29px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 85px;
  }

  .u-section-1 .u-gallery-1 {
    width: 340px;
    height: 5164px;
    margin-top: 29px;
    margin-right: calc(((100% - 340px) / 2));
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 10px;
  margin-bottom: 0;
}