 .u-section-1 {
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1525px;
}

.u-section-1 .u-text-1 {
  margin: 71px 275px 0 93px;
}

.u-section-1 .u-group-1 {
  width: 505px;
  min-height: 765px;
  height: auto;
  margin: 78px 46px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 30px 30px 0;
}

.u-section-1 .u-text-3 {
  margin: 39px 66px 0 30px;
}

.u-section-1 .u-text-4 {
  margin: 31px 30px 0;
}

.u-section-1 .u-text-5 {
  margin: 39px 30px 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 30px 0;
}

.u-section-1 .u-image-1 {
  width: 258px;
  height: 480px;
  margin: 22px auto -370px -49px;
}

.u-section-1 .u-image-2 {
  width: 436px;
  height: 1123px;
  margin: -733px auto 46px 66px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1526px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 168px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: 71px;
    margin-right: -20px;
    height: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: 23px;
    margin-bottom: -371px;
    margin-left: -102px;
  }

  .u-section-1 .u-image-2 {
    width: 351px;
    height: 904px;
    margin-top: -729px;
    margin-bottom: 60px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1700px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 485px;
    min-height: 785px;
    margin-top: 20px;
    margin-right: -17px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
  }

  .u-section-1 .u-image-1 {
    margin: 71px 30px -419px auto;
  }

  .u-section-1 .u-image-2 {
    width: 256px;
    height: 658px;
    margin-top: -433px;
    margin-left: -14px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1275px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-2 {
    height: 659px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2466px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    height: 878px;
    margin-top: 392px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-2 {
  min-height: 673px;
}

.u-section-2 .u-sheet-1 {
  min-height: 749px;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 197px 0;
}

.u-section-2 .u-gallery-1 {
  height: 423px;
  grid-gap: 17px;
  margin: 47px auto 60px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  --gap: 21px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 673px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 97px;
    margin-right: 97px;
  }

  .u-section-2 .u-gallery-1 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1151px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 1151px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-gallery-1 {
    height: 825px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 2222px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 2222px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1896px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1456px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 1046px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 91px;
  }

  .u-section-2 .u-gallery-1 {
    height: 764px;
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-gallery-inner-1 {
    --gap: 100px;
  }
}