 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 922px;
}

.u-section-1 .u-image-1 {
  height: auto;
  width: 262px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 1;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  min-height: 323px;
  background-position: 45.65% 50%;
  margin: 98px auto 0 108px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-2 {
  min-height: 550px;
  width: 718px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 1;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: -161px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  margin: 77px auto 0 40px;
}

.u-section-1 .u-text-2 {
  --animation-fade_in-opacity: 1;
  font-size: 5rem;
  margin: 16px 40px 0;
}

.u-section-1 .u-text-3 {
  margin: 19px 233px 0 40px;
}

.u-section-1 .u-shape-1 {
  width: 142px;
  height: 308px;
  margin: -289px 134px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 331px;
  height: 331px;
  margin: -771px 108px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: 56px;
    margin-left: 16px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-1 .u-group-2 {
    margin-top: -119px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-1 .u-shape-1 {
    width: 152px;
    height: 329px;
    margin-top: -168px;
    margin-right: 36px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -888px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 55px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1075px;
  }

  .u-section-1 .u-image-1 {
    width: 191px;
    min-height: 235px;
    margin-top: 79px;
    margin-right: -14px;
    margin-left: auto;
  }

  .u-section-1 .u-group-2 {
    min-height: 682px;
    margin-top: -54px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    width: 101px;
    height: 219px;
    margin-top: -117px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 236px;
    height: 236px;
    margin-top: -966px;
    margin-right: auto;
    margin-left: -31px;
  }
} .u-section-2 {
  background-image: linear-gradient(#f2f2f2, white);
}

.u-section-2 .u-sheet-1 {
  min-height: 528px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 98px 0 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-video-1 {
  width: 557px;
  height: 313px;
  margin: 0 -2px 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 458px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-2 .u-video-1 {
    width: 455px;
    height: 256px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 49px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 351px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-2 .u-video-1 {
    width: 315px;
    height: 180px;
    margin-right: 6px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 253px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 240px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 400px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 98px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-video-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 239px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 440px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 35px;
  margin-bottom: 35px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-3 .u-video-1 {
  height: 322px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-2 {
  padding: 16px 0;
}

.u-section-3 .u-video-2 {
  width: 527px;
  height: 296px;
  margin: 0 8px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 370px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-3 .u-video-2 {
    width: 455px;
    height: 256px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 354px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-video-2 {
    width: 345px;
    height: 194px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 861px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 392px;
  }

  .u-section-3 .u-video-1 {
    height: 226px;
    margin-top: 31px;
  }

  .u-section-3 .u-video-2 {
    width: 340px;
    height: 191px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 422px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 55px;
  margin-bottom: 17px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 380px;
}

.u-section-4 .u-container-layout-1 {
  padding: 14px 0;
}

.u-section-4 .u-video-1 {
  height: 322px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 380px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 313px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 313px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 73px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 268px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-video-1 {
    height: 211px;
    margin-top: 1px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 240px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 861px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 360px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 392px;
  }

  .u-section-4 .u-video-1 {
    height: 230px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 227px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 501px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 35px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-5 .u-video-1 {
  height: 300px;
  width: 533px;
  margin: 22px auto 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-2 {
  padding: 16px 0;
}

.u-section-5 .u-video-2 {
  height: 322px;
  margin: 0 auto 0 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 431px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-5 .u-video-1 {
    height: 256px;
    width: 455px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-5 .u-video-2 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 354px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-video-1 {
    height: 194px;
    width: 345px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 861px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-5 .u-video-1 {
    height: 191px;
    width: 340px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 384px;
  }

  .u-section-5 .u-video-2 {
    height: 208px;
    margin-top: 57px;
    margin-right: initial;
    margin-left: initial;
  }
}