 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(71, 1, 51, 0.7), rgba(71, 1, 51, 0.7)) 50% 50%;
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 974px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 40px auto 40px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 936px;
}

.u-section-1 .u-shape-1 {
  width: 451px;
  height: 384px;
  margin: 144px auto 0 80px;
}

.u-section-1 .u-shape-2 {
  width: 285px;
  height: 340px;
  background-image: none;
  box-shadow: 2px 2px 35px 0 rgba(0,0,0,0.5);
  margin: -463px 162px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 220px;
  min-height: 334px;
  background-position: 50% 50%;
  height: auto;
  margin: -185px 65px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  width: 370px;
  height: 380px;
  object-position: 28.7% 100%;
  background-position: 28.7% 100%;
  margin: -388px auto 0 108px;
}

.u-section-1 .u-image-3 {
  width: 616px;
  height: 237px;
  margin: 21px 0 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 794px;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 0;
}

.u-section-1 .u-text-1 {
  margin: 22px -31px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 40px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 706px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 31px;
  }

  .u-section-1 .u-image-1 {
    height: auto;
  }

  .u-section-1 .u-image-3 {
    width: 482px;
    height: 185px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 655px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 408px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 541px;
  }

  .u-section-1 .u-shape-1 {
    width: 364px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    margin-right: 79px;
  }

  .u-section-1 .u-image-2 {
    width: 364px;
    height: 374px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    width: 364px;
    height: 140px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 612px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 728px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 761px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 709px;
  }

  .u-section-1 .u-shape-1 {
    height: 299px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-shape-2 {
    width: 209px;
    height: 249px;
    margin-top: -435px;
    margin-right: auto;
    margin-left: 38px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -192px;
    margin-right: auto;
    margin-left: 55px;
  }

  .u-section-1 .u-image-2 {
    height: 349px;
    margin-top: -349px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-3 {
    width: 490px;
    height: 189px;
    margin-top: 71px;
    margin-right: auto;
    margin-left: -91px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 509px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1646px;
}

.u-section-2 .u-image-1 {
  width: 575px;
  height: 806px;
  margin: 155px 31px 0 auto;
}

.u-section-2 .u-group-1 {
  width: 485px;
  min-height: 450px;
  height: auto;
  background-image: none;
  margin: -867px auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 19px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  margin: 25px 30px 0;
}

.u-section-2 .u-text-2 {
  margin: 25px 30px 0;
}

.u-section-2 .u-line-1 {
  width: 394px;
  transform-origin: left center 0px;
  margin: 20px auto 0 30px;
}

.u-section-2 .u-text-3 {
  margin: 20px 30px 0;
}

.u-section-2 .u-group-2 {
  width: 368px;
  min-height: 267px;
  height: auto;
  background-image: none;
  margin: -76px auto 0 146px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
}

.u-section-2 .u-text-4 {
  margin: 0;
}

.u-section-2 .u-group-3 {
  width: 384px;
  background-image: none;
  min-height: 293px;
  height: auto;
  margin: 276px auto 0 125px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-2 .u-shape-1 {
  width: 250px;
  height: 250px;
  margin: -39px auto 0 34px;
}

.u-section-2 .u-image-2 {
  width: 244px;
  height: 307px;
  margin: -355px auto 0 34px;
}

.u-section-2 .u-image-3 {
  width: 387px;
  height: 543px;
  margin: -193px 183px -8px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2321px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3379px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 757px;
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    margin-top: -818px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    margin-right: 153px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2262px;
  }

  .u-section-2 .u-image-1 {
    height: 477px;
    margin-top: 19px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-1 {
    min-height: 461px;
    margin-top: 41px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 28px 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 15px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 14px;
    margin-right: 67px;
    margin-left: 19px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
    margin-top: 35px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 23px;
    margin-right: 29px;
    margin-left: 19px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 50px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-3 {
    margin-top: 105px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 95px;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: -472px;
    margin-left: 35px;
  }

  .u-section-2 .u-image-3 {
    height: 477px;
    margin-top: 67px;
    margin-bottom: 5px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1052px;
}

.u-section-3 .u-group-1 {
  width: 469px;
  min-height: 487px;
  height: auto;
  background-image: none;
  margin: 94px auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  margin: 33px 30px 0;
}

.u-section-3 .u-text-2 {
  margin: 17px 30px 0;
}

.u-section-3 .u-line-1 {
  width: 378px;
  transform-origin: left center 0px;
  margin: 20px auto 0 30px;
}

.u-section-3 .u-text-3 {
  margin: 17px 30px 0;
}

.u-section-3 .u-image-1 {
  width: 717px;
  height: 607px;
  margin: -482px -20px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 785px;
  height: 197px;
  margin: -45px 30px 0 auto;
}

.u-section-3 .u-image-3 {
  width: 234px;
  height: 279px;
  margin: -216px auto 60px 58px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    margin-top: 1842px;
    height: auto;
  }

  .u-section-3 .u-image-1 {
    margin-top: -896px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 530px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1036px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-2 {
    width: 720px;
    height: 181px;
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    margin-top: -200px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 841px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 3027px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 35px;
    margin-left: 26px;
  }

  .u-section-3 .u-line-1 {
    margin-left: auto;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 457px;
    margin-top: -931px;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    width: 540px;
    height: 136px;
    margin-top: 715px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -155px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1432px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 319px;
    min-height: 518px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 28px 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-right: 64px;
    margin-left: 22px;
  }

  .u-section-3 .u-line-1 {
    margin-top: 18px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 23px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-3 .u-image-1 {
    height: 288px;
    margin-top: -836px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-2 {
    height: 99px;
    width: 393px;
    margin-top: 625px;
    margin-left: -26px;
    margin-right: -26px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 64px;
    margin-right: 48px;
    margin-left: auto;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 710px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 612px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-image-1 {
  width: 400px;
  height: 223px;
  margin: 24px 73px 0 auto;
}

.u-section-4 .u-image-2 {
  width: 372px;
  height: 223px;
  margin: 33px auto 0 87px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 611px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-text-2 {
  margin: 24px 0 0;
}

.u-section-4 .u-image-3 {
  width: 225px;
  height: 231px;
  margin: 49px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 505px;
  }

  .u-section-4 .u-image-1 {
    margin-right: 60px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 504px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 387px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-1 {
    width: 350px;
    height: 195px;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    width: 350px;
    height: 210px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 581px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 366px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 189px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 204px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 616px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 24px;
    margin-left: 35px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 933px;
}

.u-section-5 .u-group-1 {
  min-height: 289px;
  height: auto;
  width: 825px;
  margin: 83px auto 0 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin: 22px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 40px 16px 0 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: 5px auto 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 445px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-5 .u-image-1 {
  width: 511px;
  height: 337px;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 445px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  width: 505px;
  height: 336px;
  margin: 0 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 855px;
  }

  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 100px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 367px;
  }

  .u-section-5 .u-image-1 {
    width: 412px;
    height: 271px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 367px;
  }

  .u-section-5 .u-image-2 {
    width: 410px;
    height: 273px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1612px;
  }

  .u-section-5 .u-group-1 {
    width: 720px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
    margin-left: 210px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 562px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 562px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1332px;
  }

  .u-section-5 .u-group-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 300px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 422px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 422px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1062px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 32px;
    min-height: 470px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-1 {
    margin-top: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 16px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -14px;
    margin-bottom: 32px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 266px;
  }

  .u-section-5 .u-image-1 {
    width: 320px;
    height: 210px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 266px;
  }

  .u-section-5 .u-image-2 {
    width: 320px;
    height: 213px;
  }
}