 .u-section-1 {
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1078px;
}

.u-section-1 .u-shape-1 {
  width: 368px;
  height: 368px;
  background-image: none;
  margin: 48px auto 0 293px;
}

.u-section-1 .u-image-1 {
  width: 605px;
  height: 755px;
  margin: -416px auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 522px;
  height: 652px;
  margin: -383px auto 0 80px;
}

.u-section-1 .u-text-1 {
  margin: -894px 106px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 527px;
  min-height: 750px;
  height: auto;
  margin: 63px 27px 47px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 19px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
  margin: 0;
}

.u-section-1 .u-text-3 {
  margin: 16px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 9px 16px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1140px;
  }

  .u-section-1 .u-shape-1 {
    width: 421px;
    height: 421px;
    margin-left: 204px;
  }

  .u-section-1 .u-image-1 {
    width: 429px;
    height: 429px;
    margin-top: -298px;
  }

  .u-section-1 .u-image-2 {
    width: 351px;
    height: 351px;
    margin-top: -78px;
    margin-left: 204px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -767px;
  }

  .u-section-1 .u-group-1 {
    width: 449px;
    margin-top: 53px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1029px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -231px;
    margin-right: 9px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -496px;
  }

  .u-section-1 .u-group-1 {
    width: 556px;
    margin-top: 352px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 948px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 84px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: -140px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -452px;
  }

  .u-section-1 .u-group-1 {
    width: 458px;
    margin-top: 337px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    height: 340px;
    margin-top: 70px;
  }

  .u-section-1 .u-image-1 {
    width: 285px;
    height: 309px;
    margin-top: -388px;
  }

  .u-section-1 .u-image-2 {
    width: 242px;
    height: 242px;
    margin-top: -76px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -83px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }
} .u-section-2 {
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 1375px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1156px;
  margin: 1px -16px 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 751px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0 115px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 19px 30px 0 7px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  margin: 32px 30px 0 7px;
}

.u-section-2 .u-image-1 {
  min-height: 751px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 22px;
}

.u-section-2 .u-layout-wrap-2 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 495px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 21px;
}

.u-section-2 .u-image-2 {
  width: 509px;
  height: 435px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 495px;
}

.u-section-2 .u-container-layout-4 {
  padding: 25px 22px;
}

.u-section-2 .u-image-3 {
  width: 515px;
  height: 440px;
  margin: 5px 0 -5px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 611px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 7px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 611px;
  }

  .u-section-2 .u-layout-wrap-2 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 408px;
  }

  .u-section-2 .u-image-2 {
    width: 428px;
    height: 366px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 408px;
  }

  .u-section-2 .u-image-3 {
    width: 426px;
    height: 364px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 405px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 468px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 313px;
  }

  .u-section-2 .u-image-2 {
    width: 318px;
    height: 272px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 313px;
  }

  .u-section-2 .u-image-3 {
    width: 316px;
    height: 270px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1420px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 702px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 470px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 470px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1941px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    min-height: 442px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: 61px;
    margin-bottom: 59px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 296px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 296px;
  }
}