 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1296px;
}

.u-section-1 .u-shape-1 {
  height: 259px;
  width: 259px;
  margin: 819px 365px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 893px;
  height: 502px;
  margin: -1066px auto 0 58px;
}

.u-section-1 .u-group-1 {
  min-height: 525px;
  width: 442px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: -104px auto 0 192px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  font-family: "Playfair Display", serif;
  margin: 10px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 5rem;
  margin: -948px 30px 0 641px;
}

.u-section-1 .u-image-2 {
  width: 367px;
  height: 544px;
  margin: 30px 139px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 213px;
  height: 206px;
  margin: 121px auto 60px 134px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1297px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 47px;
  }

  .u-section-1 .u-group-1 {
    min-height: 610px;
    margin-top: -105px;
    margin-left: 99px;
    height: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -938px;
    margin-right: 1px;
    margin-left: 470px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 32px;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: 110px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1200px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 405px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: -31px;
    margin-left: 63px;
  }

  .u-section-1 .u-text-4 {
    font-size: 3rem;
    margin-top: -915px;
    margin-right: 0;
    margin-left: 421px;
  }

  .u-section-1 .u-image-2 {
    width: 297px;
    height: 440px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 226px;
    margin-right: 12px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1099px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: 281px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 304px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 70px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 241px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1716px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 787px;
    margin-right: -19px;
  }

  .u-section-1 .u-image-1 {
    height: 134px;
    width: 228px;
    margin-top: -1028px;
    margin-right: 12px;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: 144px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-4 {
    margin-top: -865px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 792px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: -93px;
    margin-right: 51px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 253px;
}

.u-section-2 .u-text-1 {
  margin: 43px auto 0;
}

.u-section-2 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  width: 791px;
  margin: 20px auto 60px;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-3 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 1233px;
}

.u-section-3 .u-shape-1 {
  height: 620px;
  background-image: none;
  margin: 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 829px;
  margin: -579px auto 16px;
}

.u-section-3 .u-image-1 {
  min-height: 579px;
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 597px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 87px 118px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 413px;
  height: 197px;
  margin: 16px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 30px 10px 0 38px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 597px;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-image-3 {
  width: 367px;
  height: 214px;
  margin: 120px 12px 0 8px;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  margin: 10px 0 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 1425px;
  }

  .u-section-3 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 570px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 546px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 259px;
    margin-left: 60px;
  }

  .u-section-3 .u-image-2 {
    height: 196px;
    width: 359px;
    margin-top: 20px;
    margin-left: 27px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 77px;
    margin-left: 48px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 546px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 349px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-image-1 {
    min-height: 581px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 855px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: 218px;
    margin-left: 72px;
  }

  .u-section-3 .u-image-2 {
    height: 144px;
    width: 252px;
    margin-top: -211px;
    margin-left: 54px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 91px;
    margin-right: 86px;
    margin-left: 72px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 677px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-3 {
    height: 196px;
    margin-top: 245px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 63px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 449px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    min-height: 371px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 50px;
    padding-left: 50px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 424px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    height: 468px;
    margin-top: -531px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 87px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-3 {
    height: 315px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1270px;
  }

  .u-section-3 .u-shape-1 {
    height: 335px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -294px;
  }

  .u-section-3 .u-image-1 {
    min-height: 248px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 379px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-bottom: 40px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.8rem;
    margin-top: 190px;
    margin-right: 74px;
    margin-left: 30px;
  }

  .u-section-3 .u-image-2 {
    height: 144px;
    width: 268px;
    margin-top: -180px;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 64px;
    margin-right: 6px;
    margin-left: 24px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 383px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 0;
  }

  .u-section-3 .u-image-3 {
    height: 198px;
    margin-top: 72px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    margin-top: -237px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1224px;
}

.u-section-4 .u-shape-1 {
  width: 296px;
  height: 296px;
  background-image: none;
  margin: 529px 18px 0 auto;
}

.u-section-4 .u-image-1 {
  width: 978px;
  height: 550px;
  margin: -750px auto 0 0;
}

.u-section-4 .u-group-1 {
  width: 411px;
  min-height: 422px;
  height: auto;
  margin: -55px auto 0 99px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 27px auto 0 40px;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 18px 40px 0;
}

.u-section-4 .u-btn-1 {
  margin: 63px auto 0 48px;
}

.u-section-4 .u-shape-2 {
  width: 146px;
  height: 146px;
  margin: -536px 93px 0 auto;
}

.u-section-4 .u-image-2 {
  width: 470px;
  height: 231px;
  margin: 13px 118px 0 auto;
}

.u-section-4 .u-image-3 {
  width: 471px;
  height: 311px;
  margin: 40px 119px 27px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1313px;
  }

  .u-section-4 .u-image-1 {
    width: 940px;
    height: 529px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -34px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1405px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 405px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 90px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 978px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 304px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-2 {
    margin-right: 70px;
  }

  .u-section-4 .u-image-3 {
    margin-right: 69px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1106px;
  }

  .u-section-4 .u-image-1 {
    height: 191px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 34px;
    margin-left: 20px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 21px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 34px;
    margin-left: 20px;
  }

  .u-section-4 .u-image-2 {
    height: 167px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-3 {
    height: 225px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 755px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 647px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-group-1 {
  min-height: 266px;
  width: 323px;
  height: auto;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-5 .u-text-1 {
  margin: 20px 10px 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 10px 0;
}

.u-section-5 .u-image-1 {
  min-height: 647px;
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 18px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 598px;
  }

  .u-section-5 .u-group-1 {
    width: 233px;
    margin-top: 185px;
    height: auto;
  }

  .u-section-5 .u-image-1 {
    min-height: 533px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 5px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 210px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 863px;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-5 .u-group-1 {
    margin-top: 304px;
  }

  .u-section-5 .u-image-1 {
    min-height: 408px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 472px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    min-height: 612px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 699px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 10px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 268px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 442px;
  }
}