 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) 50% 50%;
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1185px;
}

.u-section-1 .u-shape-1 {
  height: 382px;
  width: 249px;
  margin: 56px auto 0 438px;
}

.u-section-1 .u-image-1 {
  width: 502px;
  height: 502px;
  margin: -332px auto 0 122px;
}

.u-section-1 .u-group-1 {
  min-height: 525px;
  width: 442px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: -136px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  font-family: "Playfair Display", serif;
  margin: 10px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-1 .u-image-2 {
  width: 315px;
  height: 210px;
  margin: 30px 67px 0 0;
}

.u-section-1 .u-group-2 {
  width: 598px;
  min-height: 597px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: -537px 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-1 .u-text-4 {
  font-size: 2.75rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-5 {
  line-height: 2;
  margin: 41px 0 0;
}

.u-section-1 .u-text-6 {
  margin: -986px 30px 60px 717px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 661px;
    margin-top: 66px;
    margin-right: 41px;
  }

  .u-section-1 .u-image-1 {
    width: 766px;
    margin-left: 79px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    width: 403px;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-4 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-6 {
    margin-right: 10px;
    margin-left: 547px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    height: 441px;
    width: 525px;
    margin-top: 15px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 583px;
    height: 603px;
    margin-top: -414px;
    margin-right: 15px;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: -159px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 27px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-text-6 {
    margin-left: 327px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    height: 379px;
    width: 382px;
    margin-top: 330px;
    margin-right: auto;
    margin-left: 291px;
  }

  .u-section-1 .u-image-1 {
    width: 444px;
    height: 423px;
    margin-top: -329px;
    margin-right: 41px;
    margin-left: 38px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -53px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 147px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1023px;
  }

  .u-section-1 .u-shape-1 {
    height: 316px;
    width: 189px;
    margin-top: 154px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    width: 233px;
    height: 242px;
    margin-top: -292px;
    margin-right: auto;
    margin-left: 21px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-image-2 {
    margin-right: 5px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -1738px;
    margin-left: 0;
  }
} .u-section-2 {
  min-height: 66px;
}

.u-section-2 .u-sheet-1 {
  min-height: 534px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 38px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 486px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  margin: 39px auto 0 10px;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 1rem;
  margin: 49px auto 0 10px;
}

.u-section-2 .u-image-1 {
  background-position: 50% 50%;
  min-height: 486px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 486px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-2 .u-image-2 {
  width: 183px;
  height: 205px;
  margin: 0 38px 0 auto;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 318px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 449px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 401px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 401px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 401px;
  }

  .u-section-2 .u-image-2 {
    height: 204px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 66px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 355px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 625px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 37px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 37px;
    margin-right: 4px;
    margin-left: auto;
  }

  .u-section-2 .u-image-1 {
    min-height: 307px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 307px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 550px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 839px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-image-1 {
    min-height: 321px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 691px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 294px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 270px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 35px;
    margin-left: 47px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 33px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 202px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 435px;
  }

  .u-section-2 .u-image-2 {
    width: 149px;
    height: 166px;
    margin-top: 197px;
    margin-right: auto;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1463px;
}

.u-section-3 .u-rotation-parent-1 {
  width: 441px;
  height: 610px;
  animation-timing-function: ease;
  margin: 732px 100px 0 auto;
}

.u-section-3 .u-image-1 {
  width: 441px;
  height: 610px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) scaleY(-1) rotate(180deg);
  right: auto;
}

.u-section-3 .u-shape-1 {
  width: 538px;
  height: 1197px;
  margin: -1379px auto 0 97px;
}

.u-section-3 .u-image-2 {
  width: 712px;
  height: 482px;
  margin: -1096px auto 0 186px;
}

.u-section-3 .u-image-3 {
  width: 346px;
  height: 595px;
  margin: -32px 0 0 auto;
}

.u-section-3 .u-group-1 {
  width: 495px;
  min-height: 527px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  height: auto;
  margin: -630px auto 60px 54px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 28px;
}

.u-section-3 .u-image-4 {
  width: 181px;
  height: 152px;
  margin: 0 auto 0 112px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 400;
  margin: 22px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  margin: 24px 27px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2115px;
  }

  .u-section-3 .u-rotation-parent-1 {
    margin-top: 510px;
    margin-right: -17px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -1157px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -960px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-image-4 {
    width: 210px;
    height: 176px;
    margin-top: 28px;
    margin-left: 80px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 41px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1223px;
  }

  .u-section-3 .u-rotation-parent-1 {
    margin-top: 1268px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -1915px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 8px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -202px;
  }

  .u-section-3 .u-image-4 {
    margin-left: 47px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2254px;
  }

  .u-section-3 .u-rotation-parent-1 {
    margin-top: 890px;
    margin-right: 99px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -1537px;
    margin-left: 2px;
  }

  .u-section-3 .u-image-2 {
    width: 540px;
    height: 366px;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    margin-top: -464px;
  }

  .u-section-3 .u-group-1 {
    margin-left: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1892px;
  }

  .u-section-3 .u-rotation-parent-1 {
    width: 340px;
    height: 549px;
    margin-top: 1267px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 549px;
  }

  .u-section-3 .u-shape-1 {
    height: 819px;
    margin-top: -1816px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-2 {
    height: 230px;
    margin-top: -788px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-3 {
    height: 482px;
    width: 280px;
    margin-top: 539px;
    margin-right: auto;
  }

  .u-section-3 .u-group-1 {
    min-height: 517px;
    margin-top: -1029px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    width: 168px;
    height: 141px;
    margin-top: 12px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 20px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-right: 35px;
    margin-left: 20px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 1041px;
}

.u-section-4 .u-shape-1 {
  height: 299px;
  background-image: none;
  margin: 0;
}

.u-section-4 .u-shape-2 {
  height: 814px;
  width: 424px;
  margin: -214px calc(((100% - 1140px) / 2)  + 169px) 0 auto;
}

.u-section-4 .u-image-1 {
  height: 749px;
  width: 1123px;
  object-position: 45.65% 50%;
  margin: -871px auto 0;
}

.u-section-4 .u-group-1 {
  min-height: 377px;
  width: 519px;
  height: auto;
  margin: -186px auto 60px calc(((100% - 1140px) / 2)  + 62px);
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 40px 25px;
}

.u-section-4 .u-text-1 {
  font-size: 1.5rem;
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  text-transform: none;
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 1014px;
  }

  .u-section-4 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-shape-2 {
    height: 824px;
    margin-top: -222px;
    margin-right: calc(((100% - 940px) / 2)  + 57px);
  }

  .u-section-4 .u-image-1 {
    height: 569px;
    width: 725px;
    margin-top: -900px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-group-1 {
    width: 514px;
    margin-top: -17px;
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.75rem;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 891px;
  }

  .u-section-4 .u-shape-2 {
    height: 493px;
    width: 355px;
    margin-top: -206px;
    margin-right: calc(((100% - 720px) / 2)  + 36px);
  }

  .u-section-4 .u-image-1 {
    height: 565px;
    width: 720px;
    margin-top: -585px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-group-1 {
    width: 594px;
    min-height: 367px;
    margin-top: 64px;
    margin-bottom: 0;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1307px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 2px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-shape-2 {
    height: 988px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-image-1 {
    height: 369px;
    width: 470px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-group-1 {
    width: 519px;
    margin-bottom: 2px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
    margin-left: 1px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 1px;
    margin-right: 1px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1245px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-shape-2 {
    height: 627px;
    width: 422px;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    height: 348px;
    width: 443px;
    margin-top: -733px;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-4 .u-group-1 {
    width: 308px;
    min-height: 526px;
    margin: 30px calc(((100% - 340px) / 2)) 33px auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    font-size: 2.291666666666667rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1191px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 32px auto 0 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 362px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 16px;
}

.u-section-5 .u-text-1 {
  margin: 94px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 419px;
}

.u-section-5 .u-image-1 {
  width: 796px;
  height: 447px;
  margin: 0 auto -28px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 740px;
}

.u-section-5 .u-container-layout-3 {
  padding: 0;
}

.u-section-5 .u-image-2 {
  width: 344px;
  height: 556px;
  margin: 73px 32px 0 auto;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 740px;
}

.u-section-5 .u-container-layout-4 {
  padding-left: 51px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-5 .u-text-2 {
  margin: 53px 0 0;
}

.u-section-5 .u-image-3 {
  width: 465px;
  height: 370px;
  margin: 53px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 703px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 43px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 362px;
  }

  .u-section-5 .u-image-1 {
    width: 656px;
    height: 390px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 283px;
  }

  .u-section-5 .u-image-2 {
    width: 308px;
    height: 502px;
    margin-top: -218px;
    margin-right: 16px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 610px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 42px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 61px;
    margin-right: 42px;
  }

  .u-section-5 .u-image-3 {
    margin-top: 257px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-1 {
    width: 503px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 266px;
  }

  .u-section-5 .u-container-layout-3 {
    padding: 0;
  }

  .u-section-5 .u-image-2 {
    width: 270px;
    height: 378px;
    margin-top: -113px;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 30px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 74px;
    margin-right: 32px;
  }

  .u-section-5 .u-image-3 {
    width: 414px;
    height: 329px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 10px;
    margin-bottom: 24px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 238px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    width: 471px;
  }

  .u-section-5 .u-image-2 {
    width: 307px;
    margin-top: -22px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 24px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1431px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 74px;
  }

  .u-section-5 .u-image-1 {
    margin-top: -70px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-2 {
    width: 212px;
    height: 389px;
    margin-right: auto;
    margin-bottom: -101px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 546px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 105px;
    margin-right: 0;
  }

  .u-section-5 .u-image-3 {
    height: 262px;
    width: 330px;
    margin-top: 74px;
    margin-left: -5px;
  }
}